name: Build and run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  testing:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: false

    - name: Install dependencies
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake g++ libboost-dev

    - name: Install dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew install boost

    - name: Compile and run benchmark
      working-directory: ${{ github.workspace }}/tests
      run: |
        cmake -B build/debug -DCMAKE_BUILD_TYPE=Debug
        cmake --build build/debug 
        ./build/debug/cpu/*.out --reporters=console --success
        ./build/debug/alpaka/*.out --reporters=console --success
        cmake -B build/release -DCMAKE_BUILD_TYPE=Release
        cmake --build build/release
        ./build/release/cpu/*.out --reporters=console --success
        ./build/release/alpaka/*.out --reporters=console --success

